@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --page: 0 0% 96%;

        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 221.2 83.2% 53.3%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --success: 145 63% 49%;

        --white: 0 0% 100%;

        --border:214.3 31.8% 91.4%;
        --input:214.3 31.8% 91.4%;
        --ring:221.2 83.2% 53.3%;
        --radius: 0.5rem;

        --vis-tooltip-background-color: none !important;
        --vis-tooltip-border-color: none !important;
        --vis-tooltip-text-color: none !important;
        --vis-tooltip-shadow-color: none !important;
        --vis-tooltip-backdrop-filter: none !important;
        --vis-tooltip-padding: none !important;

        /*Charts*/
        --vis-primary-color: var(--primary);
        /* change to any hsl value you want */
        --vis-secondary-color: 145 63% 49%;
        --vis-text-color: var(--muted-foreground);
    }

    .dark {
        --page:222.2 84% 4.9%;

        --background:222.2 84% 4.9%;
        --foreground:210 40% 98%;

        --card:222.2 84% 4.9%;
        --card-foreground:210 40% 98%;

        --popover:222.2 84% 4.9%;
        --popover-foreground:210 40% 98%;

        --primary:217.2 91.2% 59.8%;
        --primary-foreground:222.2 47.4% 11.2%;

        --secondary:217.2 32.6% 17.5%;
        --secondary-foreground:210 40% 98%;

        --muted:217.2 32.6% 17.5%;
        --muted-foreground:215 20.2% 65.1%;

        --accent:217.2 32.6% 17.5%;
        --accent-foreground:210 40% 98%;

        --destructive:0 62.8% 30.6%;
        --destructive-foreground:210 40% 98%;

        --white:222.2 47.4% 11.2%;

        --success: 130 91% 78%;

        --border:217.2 32.6% 17.5%;
        --input:217.2 32.6% 17.5%;
        --ring:224.3 76.3% 48%;
    }
}

body {
    letter-spacing: 0.2px;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


/* Tiptap */
.tip-tap p {
    margin: 1rem 0;
}

.tip-tap h1 {
    @apply text-3xl font-bold;
}

.tip-tap h2 {
    @apply text-2xl font-bold;
}

.tip-tap h3 {
    @apply text-xl font-bold;
}

.tip-tap ol {
    @apply list-decimal pl-4;
}

.tip-tap blockquote {
    @apply border-l-4 border-accent p-2;
}

.tip-tap pre {
    @apply bg-muted p-2 rounded;
}

.tip-tap code {
    @apply bg-muted p-1 rounded;
}

.tip-tap img {
    @apply w-full;
}

.tip-tap a {
    @apply text-primary underline;
}

#cookies-policy .cookies__category input:checked+.cookies__box:after {
    @apply !bg-primary;
}
